

.logo {
  text-align:center;
  margin:auto;
  display:block;
  padding:70px;
}

body {
  background-color: #B7E3CC;
  font-family: Georgia;
}

#load-button {
  display:block;
  margin:auto;
  text-align:center;
  background-color:#F9CE4E;
  color:#1F1300;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  font-family: Georgia;

}

.zone-list {
  padding: 20px;
}